{% extends 'base.html.twig' %}

{% block title %}<h1>Suppression de la catégorie</h1>{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container mt-4">
        <h2>{{ category.name }}</h2>
        <p> Voulez-vous supprimer cette catégorie ? </p>

        {{ form_widget(form.delete) }}

        <a href="{{ path ('category_details', {'id': category.id}) }}">
            <input class="btn btn-success"
                   type="button"
                   value="Annuler">
        </a>

        {{ form_end(form) }}
    </div>
{% endblock %}
