{% extends 'base.html.twig' %}

    {% block title %} Produits {% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-dark" style="font-size: 4rem; font-weight: bold; text-align: center">Nos produits</h1>

        <div class="form" style="text-align: center; margin: 20px 0 20px 0">
            {{ form_start(form) }}
                {{ form_row(form.minPrice) }}
                {{ form_row(form.maxPrice) }}
                {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>

        {% for product in product %}
            <div class="row flex" style="text-align: center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5  class="card-title">
                                <a href="{{ path ('product_details', {'id': product.id}) }}">{{ product.name }}</a>
                            </h5>
                            <p class="card-text">Fournisseur : {{ product.fournisseur.name }} <br> Catégorie : {{  product.category.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        <div class="col-md-12 text-center">
            <a href="{{ path ('create_product') }}" class="btn btn-dark" type="submit">Ajouter un produit<a>
        </div>
    </div>
{% endblock %}
