{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="text-dark" style="font-size: 4rem; font-weight: bold;"> {{ product.name }}</div>
                <h2>Fournisseur : <span style="color: lightslategrey">{{ product.fournisseur.name }}</span></h2>
                <p>
                    <span style="color: black">Coût : </span>{{ product.cost }}<br>
                    <span style="color: black">Prix de vente HT : </span>{{ product.sellingPrice }}<br>
                    <span style="color: black">Prix de vente TTC : </span>{{ product.sellingPriceTtc }}<br>
                    <span style="color: black">TVA (en %) : </span>{{ product.tva }}<br>
                    <span style="color: black">Taux de marge (en %) : </span>{{ product.margin }}<br>
                    <span style="color: black">Catégorie : </span>{{ product.category.name }}<br>
                    <span style="color: black">Bio : </span>{{ product.bio }}<br>
                    <span style="color: black">Commerce équitable : </span>{{ product.commerceEquitable }}<br>
                    <span style="color: black">Solidaire : </span>{{ product.solidaire }}<br>
                </p>
                <a href="{{ path ('modify_product', {'id': product.id}) }}" class="btn btn-primary">Modifier</a>
                <a href="{{ path ('delete_product', {'id': product.id}) }}" class="btn btn-primary">Supprimer le produit</a>
                <a href="{{ path ('product') }}" class="btn btn-danger">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}