{% extends 'base.html.twig' %}

{% block title %} Fournisseurs {% endblock %}

{% block body %}

    {{ form_start(form) }}

    <div class="row" style="text-align: center">
        <div class="col-md-12">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_label(form.address) }}
            {{ form_widget(form.address) }}
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
            {{ form_label(form.postal_code) }}
            {{ form_widget(form.postal_code) }}
        </div>
    </div>

    {{ form_widget(form.publish) }}
    {{ form_end(form) }}

    </a>
    <a href="{{ path("fournisseur_details", {'id':fournisseur.id}) }}">
        <input class="btn btn-dark"
               type="button"
               value="Annuler">
    </a>

{% endblock %}